.header{
background:#f4f4f4;
font-weight:bold;
border-bottom:1px solid #ccc;
padding:5px;
}

ion-row{
align-items:center;
border-bottom:1px solid #eee;
padding:6px 0;
}

ion-button{
margin-right:4px;
}